/*============ Сброс стилей =============*/
* {
    margin: 0;
}
html, body {
    height: 100%;
}
/*============ Основные стили =============*/
body {
    background: #ffffff;
    color: #222222;
    font-family: Arial, Helvetica, sans-serif;
}
.content, .header, .footer {
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
}
.header, .footer {
    background: #f5f5f5;
    color: #f5f5f5;
}
